# OTTER - 'master'

# Each line is a file pattern followed by one or more owners.
# Last match takes precedence. Users can be specified by @username 
# or email address. GitHub teams can be owners.

## Examples
# apps/ @username # all directories and subdirectories 'apps'
# /apps/ @username # only 'apps' in root

# Default owner
* @beck-ukcms